<hibernate-configuration>
    <session-factory>

        <mapping class="modules.User"/>
        <mapping class="modules.Tasks.Task"/>
        <mapping class="modules.Tasks.Timed.TimedTask"/>
        <mapping class="modules.Tasks.Timeless.TimelessTask"/>



        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">ittimetovenom53</property>
        <property name="hibernate.show_sql ">true</property>
        <property name="hbm2ddl.auto">update</property>


    </session-factory>
</hibernate-configuration>