<hibernate-configuration>
    <session-factory>
        <!-- JDBC URL, User и Пароль -->
        <property name="hibernate.connection.url">jdbc:postgresql://26.241.91.95:5432/managmentApp</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">ittimetovenom53</property>

        <!-- Драйвер JDBC -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- Автоматическая генерация схемы (для разработки) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Логирование SQL запросов -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Аннотированные классы -->
        <mapping class="modules.Entities.User.User" />
    </session-factory>
</hibernate-configuration>